<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 py-2">
    <a class="navbar-brand" href="#">Nordic Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <button type="button" id="login" class="btn btn-dark">Iniciar Sesion</button>
    <button type="button" id= "createuser" class="btn btn-dark">Crear Cuenta</button>
</nav>             <!--Aca Termina el navbar-->
<div class="jumbotron">
    <h1 class="display-3">Nordic Games</h1>
    <p class="lead">Este es un E-commerce para programacion web full stack</p>
</div>            <!--Aca termina el JumboTron-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="../public/images/game_of_thrones.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Game Of Thrones: The Board Game 2nd edition</h4>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="../public/images/undercity.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">The Uncercity</h4>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="../public/images/mansions_of_madness.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Mansion of Madness</h4>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>