.container {
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-body {
  width: auto;
  max-width: none;
  height: 100%;
  max-height: 300px;
}

